In [1]:
# Packages Part
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import export_text
from sklearn.feature_extraction import DictVectorizer
from sklearn.metrics import roc_auc_score

In [2]:
def rmse(y,y_pred):
    error = y - y_pred
    se = error ** 2
    mse = se.mean()
    return np.sqrt(mse)

In [3]:
# Read data.csv which exist in root of the project
df = pd.read_csv('data.csv')

In [4]:
# Preview of the dataframe to check it healthy got loaded
df.head()

,Employee_number,Employee_name,Employee_age,Maritial_Status,Current_Salary,Number_of_Children,years_experience,past_projects,current_projects,Divorced_earlier,Father_alive,Mother_alive,performance_rating,Education_level,Department,Role,Job_Satisfaction,Work_Life_Balance,is_outlier
0,10001,Karen Anderson,36,True,116138,2,12,6,1,No,Yes,Yes,3,Bachelor's,R&D,Researcher,10.000000,1.936454,0
1,10002,David Taylor,34,False,82171,3,10,5,0,Yes,Yes,No,5,Diploma,HR,HR Executive,10.000000,4.077728,0
2,10003,Nina Kumar,36,False,48600,1,0,2,3,Yes,Yes,Yes,4,Diploma,Sales,Sales Manager,10.000000,3.975622,0
3,10004,John Patel,42,True,39675,1,2,4,2,Yes,Yes,Yes,3,Diploma,Engineering,Software Engineer,1.000000,3.790951,0
4,10005,Emily Sharma,27,True,161304,3,3,11,2,Yes,Yes,Yes,2,High School,R&D,Scientist,8.251833,10.000000,0

<h3>Analyze Data</h3>

In [5]:
df.dtypes

Employee_number         int64
Employee_name          object
Employee_age            int64
Maritial_Status          bool
Current_Salary          int64
Number_of_Children      int64
years_experience        int64
past_projects           int64
current_projects        int64
Divorced_earlier       object
Father_alive           object
Mother_alive           object
performance_rating      int64
Education_level        object
Department             object
Role                   object
Job_Satisfaction      float64
Work_Life_Balance     float64
is_outlier              int64
dtype: object

In [6]:
# Check null fraction in dataset
df.isnull().sum()

Employee_number       0
Employee_name         0
Employee_age          0
Maritial_Status       0
Current_Salary        0
Number_of_Children    0
years_experience      0
past_projects         0
current_projects      0
Divorced_earlier      0
Father_alive          0
Mother_alive          0
performance_rating    0
Education_level       0
Department            0
Role                  0
Job_Satisfaction      0
Work_Life_Balance     0
is_outlier            0
dtype: int64

<p>There isn't any null data in dataframe</p>

In [7]:
# The educational level of the employees
df.Education_level.value_counts()

Education_level
Bachelor's     22633
Diploma         9957
Master's        9016
High School     7435
PhD              959
Name: count, dtype: int64

In [8]:
# Number of employees in each department
df.Department.value_counts()

Department
Support        7244
Sales          7232
Finance        7148
Operations     7120
Engineering    7096
R&D            7083
HR             7077
Name: count, dtype: int64

In [9]:
# Number of the employee in each role
df.Role.value_counts()

Role
Customer Specialist       3628
Sales Manager             3625
Analyst                   3619
Support Engineer          3616
Account Executive         3607
Scientist                 3577
Ops Manager               3569
HR Manager                3556
Operations Coordinator    3551
Senior Analyst            3529
HR Executive              3521
Researcher                3506
ML Engineer               2432
Software Engineer         2367
DevOps Engineer           2297
Name: count, dtype: int64

In [10]:
# Look with a glance to the dataframe and extract some information
print ('maximum salary = %.i' % df.Current_Salary.max())
print ('minimum salary = %.i' % df.Current_Salary.min())
print ('average salary = %.i' % df.Current_Salary.mean())
print ('maximum age = %.i' % df.Employee_age.max())
print ('minimum age = %.i' % df.Employee_age.min())
print ('average age = %.i' % df.Employee_age.mean())
print ('maximum job satisfaction = %.i' % df.Job_Satisfaction.max())
print ('minimum job satisfaction = %.i' % df.Job_Satisfaction.min())
print ('average job satisfaction = %.i' % df.Job_Satisfaction.mean())

maximum salary = 695267
minimum salary = 15128
average salary = 58396
maximum age = 85
minimum age = 16
average age = 34
maximum job satisfaction = 10
minimum job satisfaction = 1
average job satisfaction = 6

<h3>Data Prepration Part</h3>

In [11]:
# Turn all column names to lowercase
df.columns = df.columns.str.lower()

In [12]:
df.head()

,employee_number,employee_name,employee_age,maritial_status,current_salary,number_of_children,years_experience,past_projects,current_projects,divorced_earlier,father_alive,mother_alive,performance_rating,education_level,department,role,job_satisfaction,work_life_balance,is_outlier
0,10001,Karen Anderson,36,True,116138,2,12,6,1,No,Yes,Yes,3,Bachelor's,R&D,Researcher,10.000000,1.936454,0
1,10002,David Taylor,34,False,82171,3,10,5,0,Yes,Yes,No,5,Diploma,HR,HR Executive,10.000000,4.077728,0
2,10003,Nina Kumar,36,False,48600,1,0,2,3,Yes,Yes,Yes,4,Diploma,Sales,Sales Manager,10.000000,3.975622,0
3,10004,John Patel,42,True,39675,1,2,4,2,Yes,Yes,Yes,3,Diploma,Engineering,Software Engineer,1.000000,3.790951,0
4,10005,Emily Sharma,27,True,161304,3,3,11,2,Yes,Yes,Yes,2,High School,R&D,Scientist,8.251833,10.000000,0

In [13]:
# Turn all Yes/No columns to 0 and 1 for easier unerstanding
df.divorced_earlier = (df.divorced_earlier == 'Yes').astype(int)
df.father_alive = (df.father_alive == 'Yes').astype(int)
df.mother_alive = (df.mother_alive == 'Yes').astype(int)

In [14]:
# Trun marital status from boolean to 0 and 1
df.maritial_status = df.maritial_status.astype(int)

In [15]:
# Turn all Uppercase data to lowercase and without spaces
df['education_level'] = df['education_level'].str.lower().str.replace(' ','_')
df['department'] = df['department'].str.lower().str.replace(' ','_')
df['role'] = df['role'].str.lower().str.replace(' ','_')
df['employee_name'] = df['employee_name'].str.lower().str.replace(' ','_')

In [16]:
# Trun the satisfaction number to a number between 0 and 1 and round it to 2 to work with it as 'y' get easier(Percentage like)
df['job_satisfaction'] = (df['job_satisfaction'] / 10).round(2)
# Also I would turn the woek life bakance to a number like this to better working and analyze
df['work_life_balance'] = (df['work_life_balance'] / 10).round(2)

In [17]:
# To make sure chneges affected
df.head()

,employee_number,employee_name,employee_age,maritial_status,current_salary,number_of_children,years_experience,past_projects,current_projects,divorced_earlier,father_alive,mother_alive,performance_rating,education_level,department,role,job_satisfaction,work_life_balance,is_outlier
0,10001,karen_anderson,36,1,116138,2,12,6,1,0,1,1,3,bachelor's,r&d,researcher,1.00,0.19,0
1,10002,david_taylor,34,0,82171,3,10,5,0,1,1,0,5,diploma,hr,hr_executive,1.00,0.41,0
2,10003,nina_kumar,36,0,48600,1,0,2,3,1,1,1,4,diploma,sales,sales_manager,1.00,0.40,0
3,10004,john_patel,42,1,39675,1,2,4,2,1,1,1,3,diploma,engineering,software_engineer,0.10,0.38,0
4,10005,emily_sharma,27,1,161304,3,3,11,2,1,1,1,2,high_school,r&d,scientist,0.83,1.00,0

<h3>Data Spliting</h3>

In [18]:
# Spliting data into train, validation and test dataframes
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [19]:
# Reset the index of all part of the dataframe
df_full_train = df_full_train.reset_index(drop=True)
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [20]:
# Add satisfaction column as 'y' for each dataframes
y_full_train = df_full_train.job_satisfaction
y_train = df_train.job_satisfaction
y_val = df_val.job_satisfaction
y_test = df_test.job_satisfaction

In [21]:
# Removing the satisfaction column from dataframe
del df_full_train['job_satisfaction']
del df_train['job_satisfaction']
del df_val['job_satisfaction']
del df_test['job_satisfaction']

In [22]:
df_train.head()

,employee_number,employee_name,employee_age,maritial_status,current_salary,number_of_children,years_experience,past_projects,current_projects,divorced_earlier,father_alive,mother_alive,performance_rating,education_level,department,role,work_life_balance,is_outlier
0,14608,sophia_anderson,37,1,67340,3,0,1,0,1,1,1,3,diploma,r&d,researcher,0.27,0
1,51939,aisha_singh,41,0,64777,1,14,2,3,1,1,1,3,high_school,support,customer_specialist,0.44,0
2,39250,rohit_singh,34,0,42512,0,0,13,1,0,1,1,5,master's,sales,account_executive,0.14,0
3,21202,leo_singh,25,1,48959,1,0,6,2,0,1,1,1,bachelor's,engineering,software_engineer,0.89,0
4,22583,linda_kumar,43,1,30000,0,19,8,1,1,1,1,5,diploma,finance,senior_analyst,0.61,0

<h3>Vectorising the data</h3>

In [23]:
# Turn all dataframes into the dictionaries
full_train_dicts = df_full_train.fillna(0).to_dict(orient='records')
train_dicts = df_train.fillna(0).to_dict(orient='records')
val_dicts = df_val.fillna(0).to_dict(orient='records')
test_dicts = df_test.fillna(0).to_dict(orient='records')

In [24]:
# Making the 'X' for our model with vectorising the datafarame dictionaries
dv = DictVectorizer(sparse=False)
X_train = dv.fit_transform(train_dicts)
X_val = dv.transform(val_dicts)
X_test = dv.transform(test_dicts)

<h3>Train model with random forest</h3>

In [26]:
scores = []
for d in [5, 10, 15]:
    for n in range(10, 201, 10):
        rf = RandomForestRegressor(n_estimators=n, max_depth=d, random_state=1, n_jobs=-1)
        rf.fit(X_train,y_train)
        
        y_pred = rf.predict(X_val)
        result = rmse(y_val, y_pred)
        scores.append((d, n, result))

KeyboardInterrupt:

In [ ]:
columns = ['max_depth', 'n_estimators', 'auc']
df_scores = pd.DataFrame(scores, columns=columns)
df_scores.head()